@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f3f3f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 21em, 2em, 2em, 5em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: 28;
    color: white;
    display: block;
    transition: 0.3s; 
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}
.navicon {
    width: 60px;
    height: 40px;
}
.sidenav .logout {
    margin-bottom: 3em;
}
.usernav{
    color: #181818;
    z-index: 2;
}
.profilenav{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}